/* General Styling */
.item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: calc(100vh - 52px);
	background-color: #121212;
	color: #f1f1f1;
}

.item-card {
	background: #2e3740;
	padding: 24px;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.item-title {
	font-size: 24px;
	font-weight: bold;
	color: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 10px;
}

.item-description {
	font-size: 16px;
	color: #bbb;
	margin-top: 8px;
}

.bid-section {
	margin-top: 16px;
}

.current-bid {
	font-size: 18px;
	font-weight: bold;
	color: #4caf50;
}

.current-bid span {
	color: #66bb6a;
}

.highest-bidder {
	font-size: 14px;
	color: #aaa;
}

.auction-status {
	margin-top: 20px;
}

.closed {
	background: red;
	color: white;
	padding: 6px 12px;
	border-radius: 5px;
}

.closing-time {
	font-size: 14px;
	color: #949292;
}

.model {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: #000000ce;
	color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.delete-btn {
	width: 28px;
	cursor: pointer;
}
.yes-btn,
.no-btn {
	border: 2px solid orangered;
	color: white;
	padding: 7px 10px;
	border-radius: 7px;
	margin-top: 20px;
	transition: 0.3s;
	cursor: pointer;
}
.yes-btn {
	background: transparent;
	&:hover {
		background: rgb(241, 67, 3);
	}
}
.no-btn {
	background: orangered;
	margin-left: 10px;
	&:hover {
		background: rgb(212, 60, 5);
	}
}
